 <div class="col-xs-12 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <br>
</div>
<h3>
<p>
  Splurty was built by Marshika -- academic editor, lady scholar, and world traveler.
</p>
</h3>
<br />
<h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum licebit. Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Cur igitur easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non intellegatur? Duo Reges: constructio interrete. Si quidem, inquit, tollerem, sed relinquo. Aliter homines, aliter philosophos loqui putas oportere? Quod non faceret, si in voluptate summum bonum poneret. Quid enim est a Chrysippo praetermissum in Stoicis? Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba.
</p>  
  </h3>
<div class="col-xs-12 col-sm-4">
  <%= image_tag 'glass hair.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Marshika S</h2>
  <br />
  <h3>
  <p>
    Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Maximas vero virtutes iacere omnis necesse est voluptate dominante. An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia? Quid censes in Latino fore?
  </p>
  </h3>
  </div>
  </h3>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />